@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff");
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2"); }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.woff");
  src: url("../fonts/Montserrat/Montserrat-Light.woff2"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff");
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2"); }

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat/Montserrat-Thin.woff");
  src: url("../fonts/Montserrat/Montserrat-Thin.woff2"); }

html {
  overflow: hidden; }

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #26282b;
  z-index: 5;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

svg.tea {
  --secondary: #fff;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -ms-flex-item-align: center;
      align-self: center; }
  svg.tea #teabag {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
            transform: rotate(3deg);
    -webkit-animation: swing 2s infinite;
            animation: swing 2s infinite; }
  svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    -webkit-animation: steamLarge 2s infinite;
            animation: steamLarge 2s infinite; }
  svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    -webkit-animation: steamSmall 2s infinite;
            animation: steamSmall 2s infinite; }

@-webkit-keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); } }

@keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); } }

@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: .6; }
  100% {
    stroke-dashoffset: 39;
    opacity: 0; } }

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: .6; }
  100% {
    stroke-dashoffset: 39;
    opacity: 0; } }

@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: .6; }
  80% {
    stroke-dashoffset: 27;
    opacity: 0; }
  100% {
    stroke-dashoffset: 27;
    opacity: 0; } }

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: .6; }
  80% {
    stroke-dashoffset: 27;
    opacity: 0; }
  100% {
    stroke-dashoffset: 27;
    opacity: 0; } }

/* Слайдер */
.slick-slider {
  min-width: 0; }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0px 5px; }

.slider .slick-dots button {
  border: none;
  font-size: 0;
  -webkit-transition: all .75s;
  -o-transition: all .75s;
  transition: all .75s;
  background-color: #4d5258;
  border-radius: 20%;
  outline: 0;
  cursor: pointer;
  padding: 3px 6px; }

.slider .slick-dots li.slick-active button {
  background-color: #37dfc0;
  padding: 3px 10px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat-Regular;
  color: #fff; }
  body *::-moz-selection {
    background: #37dfc0;
    color: #fff; }
  body *::selection {
    background: #37dfc0;
    color: #fff; }

body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #666; }

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px; }

body::-webkit-scrollbar-thumb:hover {
  background: #37dfc0; }

ul {
  padding: 0; }

p {
  font-size: 0.95em;
  color: #a0a0ac;
  line-height: 20px; }

h1 {
  font-size: 2em;
  margin-right: auto;
  display: block; }

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000050;
  z-index: -1; }

.arrows {
  width: 60px;
  height: 72px;
  position: relative;
  top: 150px; }
  .arrows path {
    stroke: #37dfc0;
    fill: transparent;
    stroke-width: 2px;
    -webkit-animation: arrow 2s infinite;
            animation: arrow 2s infinite; }
  .arrows path.a1 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .arrows path.a2 {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .arrows path.a3 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }

@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 0.6; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 0.6; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

section {
  padding: 70px 12%;
  margin: 0;
  text-align: center;
  overflow: hidden; }

#header {
  padding: 0; }

header .menu-top-container {
  display: grid;
  grid-template-columns: 1fr 11fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #26282b90;
  z-index: 3;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  header .menu-top-container .logo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    header .menu-top-container .logo-item a img {
      width: 130px; }
  header .menu-top-container .menu-list {
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
    header .menu-top-container .menu-list ul {
      padding: 0 2px; }
      header .menu-top-container .menu-list ul li {
        display: inline-block;
        margin: 0 10px; }
        header .menu-top-container .menu-list ul li a {
          color: #fff;
          text-decoration: none;
          -webkit-transition: all .25s;
          -o-transition: all .25s;
          transition: all .25s;
          text-shadow: 0 0 15px #111; }
          header .menu-top-container .menu-list ul li a:hover {
            color: #37dfc0; }
        header .menu-top-container .menu-list ul li .a-active {
          color: #37dfc0; }

header .menu-top-container_scroll {
  background: #242528;
  height: 60px; }

header .background .bg-layer {
  height: 105%;
  width: 120%;
  position: fixed;
  top: -1%;
  left: -5%; }

header .background .bg-layer1 {
  background: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2; }

header .background .bg-layer2 {
  background: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2; }

header .welcome-wrap {
  z-index: 1;
  width: 50%;
  margin: auto;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em; }
  header .welcome-wrap h2 {
    font-family: Montserrat-Thin;
    width: 100%;
    display: block; }
  header .welcome-wrap h1 {
    font-family: Montserrat-Bold; }
  header .welcome-wrap p {
    color: #bbb;
    width: 80%;
    margin: auto; }

.about {
  background: #2e3135;
  min-height: 90vh;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .about .about-wrap {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }
    .about .about-wrap .about-img {
      background: url(../img/123.jpg) no-repeat;
      background-position: 0 -10px;
      background-size: cover;
      height: 100%;
      width: 100%;
      border: 5px solid #4a4c50;
      -webkit-filter: grayscale(30%);
              filter: grayscale(30%);
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }
      .about .about-wrap .about-img:hover {
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }
    .about .about-wrap .about-desc {
      padding: 0;
      text-align: left; }
      .about .about-wrap .about-desc h1 {
        margin: 0;
        padding: 0;
        position: relative;
        top: -5px; }
      .about .about-wrap .about-desc h2 {
        font-weight: 400;
        letter-spacing: -1px; }
        .about .about-wrap .about-desc h2 span {
          color: #37dfc0; }
      .about .about-wrap .about-desc ul {
        padding: 0;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .about .about-wrap .about-desc ul a {
          list-style: none;
          padding: 0;
          margin: 0 10px;
          height: 50px;
          width: 50px;
          color: #fff;
          border: 2px solid #a0a0ac;
          color: #a0a0ac;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-radius: 50%;
          -webkit-transition: all .25s;
          -o-transition: all .25s;
          transition: all .25s; }
          .about .about-wrap .about-desc ul a li i {
            font-size: 25px; }
          .about .about-wrap .about-desc ul a:nth-child(1):hover {
            color: #9b3bf7;
            border: 2px solid #9b3bf7;
            -webkit-box-shadow: 0 0 10px #9b3bf750;
                    box-shadow: 0 0 10px #9b3bf750; }
          .about .about-wrap .about-desc ul a:nth-child(2):hover {
            color: #34a2ec;
            border: 2px solid #34a2ec;
            -webkit-box-shadow: 0 0 10px #34a2ec50;
                    box-shadow: 0 0 10px #34a2ec50; }
          .about .about-wrap .about-desc ul a:nth-child(3):hover {
            color: #3478ec;
            border: 2px solid #3478ec;
            -webkit-box-shadow: 0 0 10px #3478ec50;
                    box-shadow: 0 0 10px #3478ec50; }
          .about .about-wrap .about-desc ul a:nth-child(4):hover {
            color: #ec3461;
            border: 2px solid #ec3461;
            -webkit-box-shadow: 0 0 10px #ec346150;
                    box-shadow: 0 0 10px #ec346150; }

/*	Section SERVICES 	*/
#services {
  background: #26282b; }
  #services .services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 100px auto 0 auto; }
    #services .services-items .services-item {
      border: 1px solid #353941;
      border-radius: 5px;
      padding: 30px; }
      #services .services-items .services-item:hover .line {
        width: 80px; }
      #services .services-items .services-item i {
        font-size: 3em;
        margin: 0;
        color: #37dfc0; }
      #services .services-items .services-item h3 {
        font-weight: 600;
        letter-spacing: 0.5px; }
      #services .services-items .services-item .line {
        width: 40px;
        height: 2px;
        background: #37dfc0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        margin: auto; }

/*	Section CLIENT 	*/
#client {
  background: #2e3135; }
  #client .client-slider-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #client .client-slider-container .slider {
      position: relative;
      width: 70%; }
      #client .client-slider-container .slider .slide-item {
        padding: 40px;
        outline: 0;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        #client .client-slider-container .slider .slide-item i {
          color: #37dfc0;
          font-size: 2em; }
        #client .client-slider-container .slider .slide-item .client-image {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          margin: 35px auto; }
        #client .client-slider-container .slider .slide-item .client-image1 {
          background: url("../img/123.jpg") center center no-repeat;
          background-size: 300px; }
        #client .client-slider-container .slider .slide-item .client-image2 {
          background: url("../img/123.jpg") center center no-repeat;
          background-size: 300px; }
        #client .client-slider-container .slider .slide-item .client-image3 {
          background: url("../img/123.jpg") center center no-repeat;
          background-size: 300px; }
        #client .client-slider-container .slider .slide-item .client-image4 {
          background: url("../img/123.jpg") center center no-repeat;
          background-size: 300px; }
        #client .client-slider-container .slider .slide-item p {
          font-size: 1.1em;
          font-style: italic; }

/*	Section WORKS 	*/
.works {
  background: #26282b; }
  .works .works-items-wrap {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 100px; }
    .works .works-items-wrap .works-item {
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .works .works-items-wrap .works-item img {
        height: 100%;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .works .works-items-wrap .works-item .works-item-over {
        width: 100%;
        height: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .works .works-items-wrap .works-item .works-item-over .works-item-over-detail {
          background: #26282bb8;
          color: #fff;
          text-decoration: none;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          -webkit-transition: all .25s;
          -o-transition: all .25s;
          transition: all .25s;
          z-index: 1;
          padding-top: 60%; }
        .works .works-items-wrap .works-item .works-item-over:hover .works-item-over-detail {
          opacity: 1;
          padding-top: 30%; }
        .works .works-items-wrap .works-item .works-item-over:hover img {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          z-index: 0; }

/*	Section BLOG 	*/
.blog {
  background: #2e3135; }
  .blog .blog-items-wrap {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px; }
    .blog .blog-items-wrap .blog-item {
      background: #34383d;
      padding: 7px;
      border-radius: 5px; }
      .blog .blog-items-wrap .blog-item .blog-item-img {
        width: 100%;
        overflow: hidden;
        height: 300px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 5px; }
        .blog .blog-items-wrap .blog-item .blog-item-img img {
          width: 100%; }
      .blog .blog-items-wrap .blog-item .blog-item-detail {
        text-align: left;
        padding: 10px; }
        .blog .blog-items-wrap .blog-item .blog-item-detail a {
          color: #a0a0ac;
          text-decoration: none;
          -webkit-transition: all .15s;
          -o-transition: all .15s;
          transition: all .15s;
          font-weight: 600; }
          .blog .blog-items-wrap .blog-item .blog-item-detail a:hover {
            color: #37dfc0; }

/*	Section CONTACT 	*/
.contact {
  background: #26282b; }
  .contact .contact-items-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    width: 70%; }
    .contact .contact-items-wrap i {
      font-size: 3em;
      margin-bottom: 20px;
      color: #37dfc0; }
    .contact .contact-items-wrap h3, .contact .contact-items-wrap p {
      margin: 0; }
    .contact .contact-items-wrap .contact-item a {
      color: #a0a0ac;
      text-decoration: none;
      border-bottom: 1px dashed #a0a0ac; }
      .contact .contact-items-wrap .contact-item a:hover {
        color: #fff; }
  .contact form {
    width: 55%;
    margin: auto; }
    .contact form input, .contact form textarea {
      padding: 15px 20px;
      border: 2px solid #2e3135;
      background: none;
      color: #fff;
      font-size: 1.2em;
      border-radius: 5px;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      outline: 0;
      width: 100%;
      margin: 5px 0;
      font-family: Montserrat-Regular; }
      .contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
        font-size: 14px; }
      .contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
        font-size: 14px; }
      .contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
        font-size: 14px; }
      .contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
        font-size: 14px; }
      .contact form input::placeholder, .contact form textarea::placeholder {
        font-size: 14px; }
      .contact form input:focus, .contact form textarea:focus {
        border: 2px solid #37dfc0; }
  .contact .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .contact .btn-wrap .contact-btn {
      display: block;
      font-weight: 800;
      font-size: .9em;
      border: none;
      border-radius: 3px;
      padding: 20px 30px;
      color: #fff;
      background: #16af93;
      text-transform: uppercase;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
      width: 200px; }
      .contact .btn-wrap .contact-btn:hover {
        cursor: pointer;
        background: #128e77; }

#links {
  background: #2e3135; }
  #links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
    #links ul a {
      text-decoration: none;
      color: #464a50;
      font-size: 30px;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }
      #links ul a:nth-child(1):hover {
        color: #9b3bf7; }
      #links ul a:nth-child(2):hover {
        color: #34a2ec; }
      #links ul a:nth-child(3):hover {
        color: #3478ec; }
      #links ul a:nth-child(4):hover {
        color: #ec3461; }
      #links ul a li {
        list-style: none;
        height: 60px;
        width: 60px;
        margin: 0 5px;
        background: #25272a;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 1.5em; }
    body p {
      line-height: 30px; }
    body header .menu-top-container .menu-list-scroll {
      top: 50px; }
    body header .menu-top-container .menu-list {
      position: absolute;
      width: 100%;
      opacity: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      top: 80px;
      height: 70px;
      background: #242528;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateY(-40px);
          -ms-transform: translateY(-40px);
              transform: translateY(-40px);
      visibility: hidden; }
      body header .menu-top-container .menu-list ul li a:hover {
        color: #fff; }
    body header .menu-top-container .menu-list_active {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      visibility: visible; }
    body header .menu-top-container .menu-list_scroll {
      top: 49px; }
    body header .menu-top-container .burger-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      body header .menu-top-container .burger-container .burger-btn {
        width: 50px; }
        body header .menu-top-container .burger-container .burger-btn span {
          height: 5px;
          width: 100%;
          background: #fff;
          margin: 10px 0;
          display: block;
          border-radius: 5px;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        body header .menu-top-container .burger-container .burger-btn .span_active {
          margin: 5px; }
        body header .menu-top-container .burger-container .burger-btn .span-middle {
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        body header .menu-top-container .burger-container .burger-btn .span-middle_hidden {
          opacity: 0;
          -webkit-transform: translate(-20px, 20px);
              -ms-transform: translate(-20px, 20px);
                  transform: translate(-20px, 20px); }
    body header .welcome-wrap {
      width: 100%; }
  .about .about-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto); }
    .about .about-wrap .about-img {
      height: 500px;
      margin-bottom: 50px; }
    .about .about-wrap .about-desc {
      text-align: center; }
      .about .about-wrap .about-desc h2, .about .about-wrap .about-desc p {
        text-align: left;
        line-height: 30px; }
      .about .about-wrap .about-desc ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .about .about-wrap .about-desc ul a {
          height: 80px;
          width: 80px; }
          .about .about-wrap .about-desc ul a li i {
            font-size: 40px; }
  #services {
    padding: 5%; }
    #services .services-items {
      grid-template-columns: repeat(2, 1fr); }
  #client .client-slider-container .slider {
    width: 100%; }
    #client .client-slider-container .slider .slick-dots button {
      padding: 7px 15px;
      margin: 0 5px; }
    #client .client-slider-container .slider li.slick-active button {
      padding: 7px 25px; }
  .works .works-items-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .blog .blog-items-wrap {
    grid-template-columns: 1fr; }
  .contact form {
    width: 100%; }
    .contact form input::-webkit-input-placeholder {
      font-size: 1.1em; }
    .contact form input::-moz-placeholder {
      font-size: 1.1em; }
    .contact form input:-ms-input-placeholder {
      font-size: 1.1em; }
    .contact form input::-ms-input-placeholder {
      font-size: 1.1em; }
    .contact form input::placeholder {
      font-size: 1.1em; }
    .contact form textarea::-webkit-input-placeholder {
      font-size: 1.2em; }
    .contact form textarea::-moz-placeholder {
      font-size: 1.2em; }
    .contact form textarea:-ms-input-placeholder {
      font-size: 1.2em; }
    .contact form textarea::-ms-input-placeholder {
      font-size: 1.2em; }
    .contact form textarea::placeholder {
      font-size: 1.2em; }
    .contact form .btn-wrap .contact-btn {
      width: 100%; }
  #links ul a li {
    height: 110px;
    width: 110px;
    font-size: 2em; } }

@media only screen and (max-width: 1024px) {
  body header .menu-top-container .menu-list ul {
    font-size: 18px; }
  body header .menu-top-container .burger-container .burger-btn {
    width: 40px; }
    body header .menu-top-container .burger-container .burger-btn span {
      height: 3px;
      margin: 7px 0; }
  .works .works-items-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px); }
  .contact .contact-items-wrap {
    width: 100%; }
  .contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
    font-size: 23px; }
  .contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
    font-size: 23px; }
  .contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
    font-size: 23px; }
  .contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
    font-size: 23px; }
  .contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 23px; }
  #links {
    padding: 20px 12%; }
    #links ul a li {
      width: 70px;
      height: 70px;
      font-size: 40px; } }

@media only screen and (max-width: 414px) {
  body {
    font-size: 1em; }
    body p {
      line-height: 20px; }
    body section {
      padding: 50px 20px; }
    body header .menu-top-container {
      background: #242528;
      height: 60px; }
      body header .menu-top-container .menu-list {
        height: 100vh;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0; }
        body header .menu-top-container .menu-list ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          font-size: 25px;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          height: 60%;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); }
      body header .menu-top-container .menu-list_scroll {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0); }
      body header .menu-top-container .burger-container {
        z-index: 2; }
        body header .menu-top-container .burger-container .burger-btn {
          width: 30px; }
          body header .menu-top-container .burger-container .burger-btn span {
            height: 2px;
            margin: 6px 0;
            z-index: 2; }
    body header .welcome-wrap .arrows {
      top: 50px; }
    body .about .about-wrap .about-img {
      height: 300px;
      width: 100%; }
    body .about .about-wrap .about-desc ul {
      margin-top: 25px; }
      body .about .about-wrap .about-desc ul a {
        height: 50px;
        width: 50px; }
        body .about .about-wrap .about-desc ul a li i {
          font-size: 25px; }
    body .about .about-wrap .about-desc h2, body .about .about-wrap .about-desc p {
      line-height: 20px; }
    body .works .works-items-wrap {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 250px); }
    body #services {
      padding: 50px 20px; }
      body #services .services-items {
        grid-template-columns: 1fr; }
    body #client {
      padding: 50px 0; }
      body #client .client-slider-container .slider .slick-dots button {
        padding: 3px 10px; }
      body #client .client-slider-container .slider li.slick-active button {
        padding: 3px 15px; }
    body .contact .contact-items-wrap {
      width: 100%; }
      body .contact .contact-items-wrap .contact-item a {
        color: #a0a0ac;
        text-decoration: none;
        border-bottom: 1px dashed #a0a0ac; }
    body .contact form input::-webkit-input-placeholder, body .contact form textarea::-webkit-input-placeholder {
      font-size: 0.9em; }
    body .contact form input::-moz-placeholder, body .contact form textarea::-moz-placeholder {
      font-size: 0.9em; }
    body .contact form input:-ms-input-placeholder, body .contact form textarea:-ms-input-placeholder {
      font-size: 0.9em; }
    body .contact form input::-ms-input-placeholder, body .contact form textarea::-ms-input-placeholder {
      font-size: 0.9em; }
    body .contact form input::placeholder, body .contact form textarea::placeholder {
      font-size: 0.9em; }
    body #links ul a li {
      height: 45px;
      width: 45px; }
      body #links ul a li i {
        font-size: 25px; } }
